<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat - Online</title>
  </head>
  <body>
    <h1>Chat - Online</h1>
    <div id="clients-container">
      <ul id="online-list"></ul>
      <form id="form-nickName">
        <input
          id="nickname-input"
          data-testid="nickname-box"
          placeholder="Nickname"
        />
        <button onclick="" data-testid="nickname-button" id="nickname-button">
          Trocar
        </button>
      </form>
    </div>
    <div style="background-color: aqua" id="messages-container">
      <ul id="ul-chat"></ul>
      <form id="message-form">
        <input
          data-testid="message-box"
          placeholder="Mensagem..."
          id="msg-input"
        />
        <button data-testid="send-button" id="send">Enviar</button>
      </form>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="./helpers/helpers.js"></script>
  <script src="./helpers/servicesSocket.js"></script>
</html>
